<img class="banner" src="assets/imagens/banner.png" alt="Banner Principal"/>
<section class="products-container">
    <h2 class="section-title">Bikes Urbanas</h2>
    <div class="grid">
    
    @for (bikeUrbana of bikesUrbanas; track bikeUrbana.id) {
        <app-product-card [product]="bikeUrbana"></app-product-card>
    }
        
    </div>
</section>

<section class="products-container">
    <h2 class="section-title">Bikes Montanhas</h2>
    <div class="grid">
    
    @for (bikeMontanha of bikesMontanhas; track bikeMontanha.id) {
        <app-product-card [product]="bikeMontanha"></app-product-card>
    }
        
    </div>
</section>

<section class="products-container">
    <h2 class="section-title">Bikes Estradas</h2>
    <div class="grid">
    
    @for (bikeEstrada of bikesEstradas; track bikeEstrada.id) {
        <app-product-card [product]="bikeEstrada"></app-product-card>
    }
        
    </div>
</section>

<section class="products-container">
    <h2 class="section-title">Bikes Eletricas</h2>
    <div class="grid">
    
    @for (bikeEletrica of bikesEletricas; track bikeEletrica.id) {
        <app-product-card [product]="bikeEletrica"></app-product-card>
    }
        
    </div>
</section>